<!--<div class="container-fluid">-->
<!--  &lt;!&ndash; Formulaire d'ajout de tâche &ndash;&gt;-->
<!--  <div class="row mb-3">-->
<!--    <div class="col">-->
<!--      <div class="card">-->
<!--        <h6>Nom du tableau : {{ boardName }}</h6>-->
<!--        <div class="card-header">-->
<!--          <h5>Ajouter une tâche</h5>-->
<!--        </div>-->
<!--        <div class="card-body">-->

<!--          <form  (submit)="addTask()" >-->
<!--            <div class="mb-3">-->
<!--              <label for="newTaskDescription" class="form-label">Description de la tâche</label>-->
<!--              <input type="text" class="form-control" id="newTaskDescription"  name="newTaskDescription" >-->
<!--            </div>-->
<!--            <button type="submit" class="btn btn-primary">Ajouter</button>-->
<!--          </form>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  &lt;!&ndash; Tableau Kanban &ndash;&gt;-->
<!--  <div class="row">-->
<!--    &lt;!&ndash; Colonne "To Do" &ndash;&gt;-->
<!--    <div class="col-sm-4">-->
<!--      <div class="card">-->
<!--        <div class="card-header">-->
<!--          <h5>To Do</h5>-->
<!--        </div>-->
<!--        <div class="card-body"-->
<!--             (drop)="onDrop($event, 'todo')"-->
<!--             (dragover)="onDragOver($event)">-->
<!--          <div class="task"-->
<!--               *ngFor="let task of todoTasks"-->
<!--               draggable="true"-->
<!--               (dragstart)="onDragStart($event, task)">-->
<!--            <div class="card">-->
<!--              <div class="card-body">-->
<!--                <span>{{ task.title }}</span>-->
<!--                <span class="delete-task"-->
<!--                      (click)="deleteTask(task, 'To Do')">X</span>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    &lt;!&ndash; Colonne "In Progress" &ndash;&gt;-->
<!--    <div class="col-sm-4">-->
<!--      <div class="card">-->
<!--        <div class="card-header">-->
<!--          <h5>In Progress</h5>-->
<!--        </div>-->
<!--        <div class="card-body"-->
<!--             (drop)="onDrop($event, 'inProgress')"-->
<!--             (dragover)="onDragOver($event)">-->
<!--          <div class="task"-->
<!--               *ngFor="let task of inProgressTasks"-->
<!--               draggable="true"-->
<!--               (dragstart)="onDragStart($event, task)">-->
<!--            <div class="card">-->
<!--              <div class="card-body">-->
<!--                <span>{{ task.title }}</span>-->
<!--                <span class="delete-task"-->
<!--                      (click)="deleteTask(task, 'In Progress')">X</span>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    &lt;!&ndash; Colonne "Done" &ndash;&gt;-->
<!--    <div class="col-sm-4">-->
<!--      <div class="card">-->
<!--        <div class="card-header">-->
<!--          <h5>Done</h5>-->
<!--        </div>-->
<!--        <div class="card-body"-->
<!--             (drop)="onDrop($event, 'done')"-->
<!--             (dragover)="onDragOver($event)">-->
<!--          <div class="task"-->
<!--               *ngFor="let task of doneTasks"-->
<!--               draggable="true"-->
<!--               (dragstart)="onDragStart($event, task)">-->
<!--            <div class="card">-->
<!--              <div class="card-body">-->
<!--                <span>{{ task.title }}</span>-->
<!--                <span class="delete-task"-->
<!--                      (click)="deleteTask(task, 'Done')">X</span>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->



<div class="container-fluid">

  <div class="page-title">
    <h2>{{ boardName }}</h2>

  </div>
  <div class="main-card">
    <button class="create-board-button" (click)="openDialogAddSubTask(boardId)">+ Create a new Subtask</button>
  </div>
  <!-- Formulaire d'ajout de tâche -->
<!--  <div class="row mb-3">-->
<!--    <div class="col">-->
<!--      <div class="card">-->
<!--        <div class="card-header">-->
<!--          <h5>Ajouter une tâche</h5>-->
<!--        </div>-->
<!--        <div class="card-body">-->
<!--          <form (submit)="addTask()">-->
<!--            <div class="mb-3">-->
<!--              <label for="newTaskDescription" class="form-label">Description de la tâche</label>-->
<!--              <input type="text" class="form-control" id="newTaskDescription" [(ngModel)]="newTaskDescription" name="newTaskDescription">-->
<!--            </div>-->
<!--            <button type="submit" class="btn btn-primary">Ajouter</button>-->
<!--          </form>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

  <div class="row">
    <!-- Carte "To Do" -->
    <div class="col">
      <div class="card" data-status="To Do">
        <div class="card-header">
          <h5>To Do</h5>
        </div>
        <div class="card-body">
          <div class="subtask" *ngFor="let subTask of subtasks" [attr.data-task-id]="subTask.id">
            <div class="card mb-3" *ngIf="subTask.status === 'To Do'">
              <div class="card-body">
                <div class="task-info">
                  <!-- Libellé et Titre de la tâche -->
                  <div class="label">Task:</div>
                  <div><h6 class="task-title">{{ subTask.task.title }}</h6></div>
                  <!-- Libellé et Description de la sous-tâche -->
                  <div class="label">Description of Subtask:</div>
                  <div class="subtask-description">{{ subTask.description }}</div>
                </div>
              </div>
              <!-- Boutons Delete et Update en bas à droite -->
              <div class="card-footer d-flex justify-content-end">
                <button class="btn btn-danger btn-sm mr-2" (click)="deleteSubTask(subTask.id)">
                  <i class="fa fa-trash"></i> Delete
                </button>
                <button class="btn btn-primary btn-sm" (click)= updateSubtask(boardId,subTask.id) >
                  <i class="fa fa-pencil"></i> Update
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Carte "In Progress" -->
    <div class="col">
      <div class="card" data-status="In Progress">
        <div class="card-header">
          <h5>In Progress</h5>
        </div>
        <div class="card-body">
          <div class="subtask" *ngFor="let subTask of subtasks" [attr.data-task-id]="subTask.id">
            <div class="card mb-3" *ngIf="subTask.status === 'In Progress'">
              <div class="card-body">
                <div class="task-info">
                  <div class="label">Task:</div>
                 <div> <h6 class="task-title">{{ subTask.task.title }}</h6></div>
                  <div class="label">Description of Subtask:</div>
                  <div class="subtask-description">{{ subTask.description }}</div>
                </div>
              </div>
              <div class="card-footer d-flex justify-content-end">
                <button class="btn btn-danger btn-sm mr-2" (click)="deleteSubTask(subTask.id)">
                  <i class="fa fa-trash"></i> Delete
                </button>
                <button class="btn btn-primary btn-sm" (click)="updateSubTask(subTask.id)">
                  <i class="fa fa-pencil"></i> Update
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Carte "Done" -->
    <div class="col">
      <div class="card" data-status="Done">
        <div class="card-header">
          <h5>Done</h5>
        </div>
        <div class="card-body">
          <div class="subtask" *ngFor="let subTask of subtasks" [attr.data-task-id]="subTask.id">
            <div class="card mb-3" *ngIf="subTask.status === 'Done'">
              <div class="card-body">
                <div class="task-info">
                  <div class="label">Task:</div>
                 <div> <h6 class="task-title">{{ subTask.task.title }}</h6> </div>

                  <div class="label">Description of Subtask:</div>
                  <div class="subtask-description">{{ subTask.description }}</div>
                </div>
              </div>
              <div class="card-footer d-flex justify-content-end">
                <button class="btn btn-danger btn-sm mr-2" (click)="deleteSubTask(subTask.id)">
                  <i class="fa fa-trash"></i> Delete
                </button>
                <button class="btn btn-primary btn-sm" (click)="updateSubTask(subTask.id)">
                  <i class="fa fa-pencil"></i> Update
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <!--<div class="col-sm-4">-->
<!--  <div class="card">-->
<!--    <div class="card-header">-->
<!--      <h5>To Do</h5>-->
<!--    </div>-->
<!--    <div class="card-body"-->
<!--         (drop)="onDrop($event, 'todo')"-->
<!--         (dragover)="onDragOver($event)">-->
<!--      <div class="task"-->
<!--           *ngFor="let task of todoTasks"-->
<!--           draggable="true"-->
<!--           (dragstart)="onDragStart($event, task)">-->
<!--        <div class="card">-->
<!--          <div class="card-body">-->
<!--            <span>{{ task.title }}</span>-->
<!--            <span class="delete-task"-->
<!--                  (click)="deleteTask(task, 'To Do')">X</span>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--    &lt;!&ndash; Colonne "In Progress" &ndash;&gt;-->
<!--    <div class="col-sm-4">-->
<!--      <div class="card">-->
<!--        <div class="card-header">-->
<!--          <h5>In Progress</h5>-->
<!--        </div>-->
<!--        <div class="card-body"-->
<!--             (drop)="onDrop($event, 'inProgress')"-->
<!--             (dragover)="onDragOver($event)">-->
<!--          <div class="task"-->
<!--               *ngFor="let task of inProgressTasks"-->
<!--               draggable="true"-->
<!--               (dragstart)="onDragStart($event, task)">-->
<!--            <div class="card">-->
<!--              <div class="card-body">-->
<!--                <span>{{ task.title }}</span>-->
<!--                <span class="delete-task"-->
<!--                      (click)="deleteTask(task, 'In Progress')">X</span>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    &lt;!&ndash; Colonne "Done" &ndash;&gt;-->
<!--    <div class="col-sm-4">-->
<!--      <div class="card">-->
<!--        <div class="card-header">-->
<!--          <h5>Done</h5>-->
<!--        </div>-->
<!--        <div class="card-body"-->
<!--             (drop)="onDrop($event, 'done')"-->
<!--             (dragover)="onDragOver($event)">-->
<!--          <div class="task"-->
<!--               *ngFor="let task of doneTasks"-->
<!--               draggable="true"-->
<!--               (dragstart)="onDragStart($event, task)">-->
<!--            <div class="card">-->
<!--              <div class="card-body">-->
<!--                <span>{{ task.title }}</span>-->
<!--                <span class="delete-task"-->
<!--                      (click)="deleteTask(task, 'Done')">X</span>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

</div>
