<app-breadcrumb [title]="'Chat'" [items]="['Apps']" [active_item]="'Chat'"></app-breadcrumb>
<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col call-chat-sidebar col-sm-12">
      <div class="card">
        <div class="card-body chat-body" >
          <div class="chat-box">
            <!-- Chat left side Start-->
            <div class="chat-left-aside">
              <div class="media">
                <img class="rounded-circle user-image" [src]="user?.imageUrl" alt="">
                <div class="about">
                  <div class="name f-w-600">{{user?.firstname}} {{user?.lastname}}</div>
                  <div class="status">Bee the change!</div>
                </div>
              </div>
              <div class="people-list" id="people-list">
                <div class="search">
                  <form class="theme-form">
                    <div class="form-group">
                      <input class="form-control" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}"
                        (keyup)="(searchText)" type="text" placeholder="search"><i class="fa fa-search"></i>
                    </div>
                  </form>
                </div>
                <ul class="list mt-2">
                  <ng-container *ngFor="let chate of chatRooms">
                    <li class="clearfix" >
                      <a href="javascript:void(0)" >
                        <ul>
                          <li class="d-inline-block" *ngFor="let u of chate.users" ><img class="img-30 rounded-circle" [src]="u.imageUrl" alt="" data-original-title="" title=""></li>
                          <li class="d-inline-block ms-2">
                            <div class="name">{{ chate.name }}</div>
                          </li>
                        </ul>

                        <div class="about">

                          <div class="status"></div>
                        </div>
                      </a>
                    </li>
                  </ng-container>

                  <ng-container *ngIf="!teamMembers.length">
                    <div class="search-not-found chat-search text-center">
                      <div>
                        <img src="assets/images/search-not-found.png" alt="" class="second-search">
                        <p>Loading Team Members please wait :) </p>
                      </div>
                    </div>
                  </ng-container>
                </ul>
              </div>
            </div>
            <!-- Chat left side Ends-->
          </div>
        </div>
      </div>
    </div>
    <div class="col call-chat-body">
      <div class="card">
        <div class="card-body p-0">
          <div class="row chat-box">
            <!-- Chat right side start-->
            <div class="col pe-0 chat-right-aside">
              <!-- chat start-->
              <div class="chat">
                <!-- chat-header start-->
                <div class="chat-header clearfix">
                  <ul>
                    <li class="d-inline-block" *ngFor="let u of chatRooms[0].users" ><img class="img-30 rounded-circle" [src]="u.imageUrl" alt="" data-original-title="" title=""></li>
                  </ul>
                  <div class="about">
                    <div class="name">{{ chatRooms[0].name }}<span class="font-primary f-12"
                        *ngIf="chatUser?.typing">Typing...</span></div>
                    <div class="status digits">{{chatUser?.seen}}</div>
                  </div>
                  <ul class="list-inline float-start float-sm-end chat-menu-icons">
                  </ul>
                </div>
                <!-- chat-header end-->
                <div class="chat-history chat-msg-box custom-scrollbar">
                  <ul>
                    <li *ngFor="let chat of chats?.message" [ngClass]="{'clearfix': chat.sender == profile.id }">
                      <div class="message my-message mb-0" *ngIf="chat.sender != profile.id; else myChat">
                        <img class="rounded-circle float-start chat-user-img img-30" [src]="chatUser?.profile" alt="">
                        <div class="message-data text-end">
                          <span class="message-data-time">{{chat?.time}}</span>
                        </div> {{chat?.text}}
                      </div>
                      <ng-template #myChat>
                        <div class="message other-message pull-right">
                          <img class="rounded-circle float-end chat-user-img img-30" [src]="profile?.profile" alt="">
                          <div class="message-data">
                            <span class="message-data-time">{{chat?.time}}</span>
                          </div> {{chat?.text}}
                        </div>
                      </ng-template>
                    </li>
                    <ng-container *ngIf="!chats?.message.length">
                      <div class="image-not-found">
                        <div class="d-block start-conversion">
                          <img src="assets/images/start-conversion.jpg" class="img-fluid">
                        </div>
                      </div>
                    </ng-container>
                  </ul>
                </div>
                <!-- end chat-history-->
                <!--<form #chatForm="ngForm" (ngSubmit)="sendMessage(chatForm)">-->
                  <form (ngSubmit)="sendMessage()" class="chat-message clearfix">
                    <div class="row">
                      <div class="col-xl-12 d-flex">
                        <div class="smiley-box bg-primary">
                          <div class="picker">
                            <img src="assets/images/smiley.png" alt="" (click)="toggleEmojiPicker()">
                          </div>
                        </div>
                        <div class="input-group text-box">
                          <input class="form-control input-txt-bx" [class.border-danger]="error" [(ngModel)]="chatText"
                            id="message-to-send" type="text" name="message" placeholder="Type a message......">
                          <ng-container *ngIf="showEmojiPicker">
                            <emoji-mart (emojiClick)="addEmoji($event)" set="apple" useButton="true"></emoji-mart>
                          </ng-container>
                          <!-- Input element for file upload -->

                          <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">SEND</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>

                <!-- end chat-message-->
                <!-- chat end-->
                <!-- Chat right side ends-->
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- Container-fluid Ends -->
