<app-breadcrumb [title]="'Chat'" [items]="['Apps']" [active_item]="'Chat'"></app-breadcrumb>
<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col call-chat-sidebar col-sm-12">
      <div class="card">
        <div class="card-body chat-body">
          <div class="chat-box">
            <!-- Chat left side Start-->
            <div class="chat-left-aside">
              <div class="media">
                <img class="rounded-circle user-image" [src]="user?.imageUrl" alt="">
                <div class="about">
                  <div class="name f-w-600">{{user?.firstname}} {{user?.lastname}}</div>
                  <div class="status">Bee the change!</div>
                  <a (click)="openChatDialog()" class="chat-compose">
                    <i class="material-icons">control_point</i>
                  </a>
                </div>
              </div>

              <div class="people-list" id="people-list">
                <div class="search">
                  <form class="theme-form">
                    <div class="form-group">
                      <input (input)="filterChatRooms($event)" type="text" class="form-control"
                            placeholder="Search"><i class="fa fa-search"></i>
                    </div>
                  </form>
                </div>
                <ul class="list mt-2">
                  <ng-container *ngFor="let chatRoom of chatRooms ">
                    <li>
                      <a class="media" [routerLink]="['/chat', chatRoom.id]"
                      [ngClass]="{ 'active': chatRoom.id === currentChatRoom.id}">
                        <img class="rounded-circle user-image" [src]="currentChatRoom?.imageUrl">

                        <div class="about">
                          <div class="name">{{chatRoom.name}}</div>
                          <div class="status">{{chatRoom.lastMessage}}</div>
                        </div>

                      </a>
                    </li>
                  </ng-container>
                  <ng-container *ngIf="getUserChatRooms.length != 0">
                    <div class="search-not-found chat-search text-center">
                      <div>
                        <img src="assets/images/search-not-found.png" alt="" class="second-search">
                        <p>No Conversations yet!</p>
                      </div>
                    </div>
                  </ng-container>
                </ul>
              </div>
            </div>
            <!-- Chat left side Ends-->
          </div>
        </div>
      </div>
    </div>
    <div class="col call-chat-body">
      <div class="card">
        <div class="card-body p-0">
          <div class="row chat-box">
            <!-- Chat right side start-->
            <div class="col pe-0 chat-right-aside">
              <!-- chat start-->
              <div class="chat">
                <!-- chat-header start-->
                <div class="chat-header clearfix" *ngIf="chatID != 'GLOBAL'">
                  <a id="back_user_list" href="javascript:void(0)" class="back-user-list">

                </a>
                <img class="rounded-circle" [src]="currentChatRoom?.imageUrl">
                  <div class="about">
                    <div class="name">{{currentChatRoom?.name}}  <span class="font-primary f-12"
                        ></span></div>
                    <div class="status digits"></div>
                  </div>
                  <ul class="list-inline float-start float-sm-end chat-menu-icons">

                    <li class="list-inline-item"><a href="javascript:void(0)" (click)="showJoinURLdialog(currentChatRoom.id)">
                      <span class="material-icons">
                          person_add
                      </span>
                  </a></li>
                  <a href="javascript:void(0)" (click)="deleteConversation(currentChatRoom.id)">
                    <span class="material-icons">delete</span>
                 </a>


                    <li class="list-inline-item toogle-bar" (click)="mobileMenu()"><a href="javascript:void(0)"><i class="icon-menu"></i></a>
                    </li>
                  </ul>
                </div>
                <!-- chat-header end-->
                <div class="chat-history chat-msg-box custom-scrollbar">
                  <div class="chat-scroll" #chatFrame (scroll)="onScroll($event)" *ngIf="chatID != 'GLOBAL'">
                    <ul>
                      <ng-container *ngFor="let message of roomHistory">
                        <ng-container *ngIf="message.senderId == userId; else receivedOrSystemMessage">
                          <!-- Sent message -->
                          <li class="media my-message mb-0">
                            <ng-container *ngIf="message.senderId == userId; else receivedOrSystemMessage"></ng-container>

                            <div class="media-body text-end">
                              <div class="msg-box">
                                <div class="avatar">
                                  <!-- Display sender's avatar -->
                                  <img [src]="message.senderImage" alt="User Image" class="avatar-img rounded-circle">
                                </div>
                                <div>
                                  <p> <b>{{ message.senderName }}</b> <br> {{ message.text }} </p>
                                  <!-- Other message content -->
                                  <ul class="chat-msg-info">
                                    <li>
                                      <div class="chat-time">
                                        <span>{{ message.createdAt | date:'shortTime' }}</span>
                                      </div>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </li>
                        </ng-container>
                        <ng-template #receivedOrSystemMessage>
                          <ng-container *ngIf="message.senderId == 0; then systemMessage else receivedMessage"></ng-container>
                        </ng-template>
                        <ng-template #receivedMessage>
                          <!-- Received message -->
                          <li class="media received">
                            <div class="avatar">
                              <!-- Display sender's avatar -->
                              <img [src]="message.senderImage" alt="User Image" class="avatar-img rounded-circle">
                            </div>
                            <div class="media-body">
                              <div class="msg-box">
                                <div>
                                  <p> <b>{{ message.senderName }}</b> <br> {{ message.text }} </p>
                                  <!-- Other message content -->
                                  <ul class="chat-msg-info">
                                    <li>
                                      <div class="chat-time">
                                        <span>{{ message.createdAt | date:'shortTime' }}</span>
                                      </div>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </li>
                        </ng-template>
                        <ng-template #systemMessage>
                          <!-- Received message -->
                          <li class="media text-center">
                            <div class="media-body">
                              <div class="msg-box">
                                <div>
                                  <p style="color: #ffc107;">──────── {{ message.text }} ────────</p>
                                </div>
                              </div>
                            </div>
                          </li>
                        </ng-template>
                      </ng-container>
                    </ul>
                  </div>
                </div>

                    <ng-container *ngIf="chatID == 'GLOBAL'">
                      <div class="d-flex align-items-center justify-content-center" style="min-height: 55vh;"
                      *ngIf="chatID == 'GLOBAL'">
                      <h2 style="color: gray;"> No Chat Selected </h2>
                  </div>
                </ng-container>
                <!-- end chat-history-->

                  <div class="chat-message clearfix">
                    <div class="row">
                      <div class="col-xl-12 d-flex">


                        </div>
                        <div class="chat-footer text-primary" *ngIf="chatID != 'GLOBAL'">
                          <div class="input-group">

                              <input type="text" class="input-msg-send form-control" placeholder="Type something"
                                  #messageInput (keypress)="sendMessage($event)">
                              <button type="button" class="btn msg-send-btn" (click)="sendMessage()"><i
                                      class="fab fa-telegram-plane"></i></button>
                          </div>
                      </div>
                      </div>
                    </div>

                <!-- end chat-message-->
                <!-- chat end-->
                <!-- Chat right side ends-->







<!-- Container-fluid Ends -->
