.err{
    border: thin red ;
    color: red;
}

/* Style pour une tâche en attente */
.task-priority.badge-pending {
  background-color: yellow;
  color: black;
}

/* Style pour une tâche en cours */
.task-priority.badge-in-progress {
  background-color: blue;
  color: white;
}

/* Style pour une tâche terminée */
.task-priority.badge-done {
  background-color: green;
  color: white;
}
.in-progress-btn {
  cursor: pointer;
  color: #ffffff;
  background-color: #007bff; /* Couleur de fond */
  border: 1px solid transparent; /* Bordure */
  padding: 5px 10px; /* Rembourrage */
  border-radius: 5px; /* Coins arrondis */
}

.in-progress-btn:hover {
  background-color: #0056b3; /* Couleur de fond au survol */
}

.in-progress-btn:focus {
  outline: none; /* Supprimer le focus */
}
disabled {
  pointer-events: none; /* Désactiver les événements de pointer */
  opacity: 0.5; /* Rendre le bouton partiellement transparent pour indiquer qu'il est désactivé */

 // background-color: #f5f5f5; /* Couleur de fond désactivée */
}

