<div class="page-wrapper">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-12">
        <div class="login-card">
          <div>
            <div>
              <a class="logo" routerLink='/'>
                <img class="img-fluid for-light" src="assets/images/logo/logo.png" alt="looginpage" />
                <img class="img-fluid for-dark" src="assets/images/logo/logo_dark.png" alt="looginpage" />
              </a>
            </div>
            <div class="login-main">
              <form class="theme-form" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                <h4>Create Your Password</h4>
                <div class="form-group">
                  <label class="col-form-label">New Password</label>
                  <input type="password" class="form-control" formControlName="password" required placeholder="*********">
<!--                  <div *ngIf="resetPasswordForm.get('password').hasError('required')" class="alert alert-danger">-->
<!--                    Password is required.-->
<!--                  </div>-->
<!--                  <div *ngIf="resetPasswordForm.get('password').hasError('minlength')" class="alert alert-danger">-->
<!--                    Password must be at least 6 characters long (assuming minimum length of 6).-->
<!--                  </div>-->
                  <div class="show-hide" (click)="showPassword()" *ngIf="!show"><span class="show"></span></div>
                  <div class="show-hide" (click)="showPassword()" *ngIf="show"><span class="Hide"></span></div>
                </div>
                <div class="form-group">
                  <label class="col-form-label">Retype Password</label>
                  <input type="password" class="form-control" formControlName="confirmPassword" required placeholder="*********">
<!--                  <div *ngIf="resetPasswordForm.get('confirmPassword').hasError('required')" class="alert alert-danger">-->
<!--                    Confirm password is required.-->
<!--                  </div>-->
                  <div *ngIf="resetPasswordForm.get('confirmPassword').hasError('noMatch')" class="alert alert-danger">
                    Passwords don't match.
                  </div>
                </div>
<!--                <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>-->
                <div class="form-group mb-0">
                  <div class="checkbox p-0">
                    <input id="checkbox1" type="checkbox">
                    <label class="text-muted" for="checkbox1">Remember password</label>
                  </div>
                  <button class="btn btn-primary d-block w-100" type="submit">Done</button>
                </div>
                <p class="mt-4 mb-0">Don't have account?<a class="ms-2" [routerLink]="['/auth/register']">Create Account</a></p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
