<!-- task-chart.component.html -->

<div class="task-chart">
  <div class="row" >
  <h1>Dashboard</h1>
  <div class="chart-container">
    <h2>Tasks Status</h2>
    <canvas id="tasksStatusChart"></canvas>
  </div>
    <div class="chart-container">
      <h2>Deadline Respect</h2>
      <canvas id="deadlineRespectChart"></canvas>
    </div>
  </div>
  <div class="row" >
  <div class="chart-container">
    <h2>Work Evolution</h2>
    <canvas id="workEvolutionChart"></canvas>
  </div>
    <div class="chart-container">
      <h2>Task Evaluation</h2>
      <canvas id="taskEvaluationChart"></canvas>
    </div>

  </div>
</div>
